/* Todo: make fonts display in iOS Safari */

body {
  padding: 20px;
}

.book-container {
  background: #12a89d;
  width: 1080px;
  height: 1080px;
  padding: 4rem 3rem;
  overflow: hidden;
}

.book-img {
  max-width: 100%;
  outline: 1px solid rgba(0,0,0,.15);
}

canvas {
  display: none;
}

/* Version 2 */

.book-content {
  color: #231f20;
  font-family: Roboto, sans-serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.1;
  position: relative;
  height: 100%;
}

.book-title-primary {
  color: #fff;
}

.book-meta-secondary {
  margin-top: 5rem;
  font-size: 3rem;
}

.book-year {
  margin-top: 5rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Version 1 (too small) */

/*
.book-content {
  font-family: "PT Sans", sans-serif;
  line-height: 1.2;
}

.book-author-primary {
  margin-bottom: .5rem;
  font-family: "PT Serif", serif;
  font-size: 3.2rem;
}

.book-title-primary {
  font-family: "PT Serif", serif;
  font-size: 6rem;
}

.book-series-primary {
  margin-top: 2rem;
  font-size: 2.25rem;
  opacity: .7;
}

.book-meta-secondary {
  margin-top: 5rem;
  font-family: "PT Serif", serif;
  font-size: 3.2rem;
  opacity: .7;
}

.book-series-secondary {
  margin-top: 1rem;
  font-family: "PT Sans", serif;
  font-size: 2.25rem;
}

.book-year {
  margin-top: 5rem;
  font-size: 3.2rem;
}*/