* {
  box-sizing: border-box;
}

body {
  /*font-family: Arial, sans-serif;*/
  margin: 0;
  padding: 30px 20px;
}

/*.container {
  display: flex;
}*/

.slide {
  /*display: flex;*/
  display: none;
  /*justify-content: center;*/
  align-items: center;
  width: 1080px;
  height: 1080px;
  padding: 120px;
  font-size: 42px;
  /*text-align: center;*/
  /*color: #35234b;*/
  /*background: #ffefe0;*/
  overflow: hidden;
  /*border: 1px solid rgba(0,0,0,.05);*/
}

.slide-img {
  max-width: 100%;
  outline: 1px solid rgba(0,0,0,.15);
}

ol {
  /*list-style: none;*/
  margin: 0;
  padding: 0;
}

.button {
  text-decoration: none;
  color: #fff;
  background: blue;
  padding: 10px 20px;
}

canvas {
  display: none;
}

label {
  display: block;
}

/* Books */

.book-slide-title-primary {
  font-family: "PT Serif", serif;
  font-size: 5rem;
}

.book-slide-title-primary small,
.book-slide-title-secondary small,
.book-slide-year small {
  display: block;
  margin-top: .5em;
  font-family: "PT Sans", sans-serif;
  font-size: 80%;
}

.book-slide-title-secondary,
.book-slide-year {
  font-size: 4rem;
  margin-top: 6rem;
  opacity: .7;
}

.book-slide-year {
  opacity: 1;
}