/* Todo: make fonts display in iOS Safari */

body {
  padding: 20px;
}

.book-container {
  background: #12a89d;
  width: 1080px;
  height: 1080px;
  padding: 5rem 4rem;
  overflow: hidden;
}

.book-img {
  max-width: 100%;
  outline: 1px solid rgba(0,0,0,.15);
}

canvas {
  display: none;
}

.btn-add-author {
  padding-left: 0;
  padding-right: 0;
}

.btn-add-author:hover {
  text-decoration: none;
}

.book-content {
  color: #231f20;
  font-family: Roboto, sans-serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.1;
  position: relative;
  height: 100%;
}

.book-title-primary {
  color: #fff;
}

.book-meta-secondary {
  margin-top: 5rem;
  font-size: 3rem;
}

.book-year {
  margin-top: 5rem;
  position: absolute;
  right: 0;
  bottom: 0;
}