@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif&subset=cyrillic');

body {
  font-family: "PT Serif", serif;
}

/** {
  box-sizing: border-box;
}*/

/*
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 30px 20px;
}
*/

/*.container {
  display: flex;
}*/

.slide {
  /*display: flex;*/
  display: none;
  /*justify-content: center;*/
  align-items: center;
  width: 1080px;
  height: 1080px;
  padding: 120px;
  font-size: 42px;
  /*text-align: center;*/
  /*color: #35234b;*/
  /*background: #ffefe0;*/
  overflow: hidden;
  /*border: 1px solid rgba(0,0,0,.05);*/
}

.slide-img {
  max-width: 100%;
  outline: 1px solid rgba(0,0,0,.15);
}

ol {
  /*list-style: none;*/
  margin: 0;
  padding: 0;
}

.button {
  text-decoration: none;
  color: #fff;
  background: blue;
  padding: 10px 20px;
}

canvas {
  display: none;
}

label {
  display: block;
}

/* Books */

.book-slide-content {
  font-family: "PT Sans", sans-serif;
  line-height: 1.2;
}

.book-slide-title-primary {
  font-family: "PT Serif", serif;
  font-size: 6rem;
}

.book-slide-author-primary {
  margin-top: 1.5rem;
  font-size: 4rem;
}

.book-slide-title-secondary {
  margin-top: 6rem;
  font-size: 4rem;
  opacity: .7;
}

.book-slide-author-secondary {
  margin-top: .75rem;
  font-size: 3.2rem;
  opacity: .7;
}

.book-slide-year {
  margin-top: 6rem;
  font-size: 3.2rem;
}